@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

@font-face {
  font-display: swap;
}
:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  width: max-content;
}



.card {
  position: relative;
  width: 20em;
  height: 20em;
  min-height: 320px;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 5em -1em black;
}

.card-grid-space:nth-child(1) .card{
  --bg-filter-opacity: 0.5;
    min-height: 320px;
  aspect-ratio: 3 / 2;
  background-image:linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))),url('https://codewithfaraz.com/img/squid-game-loader.png');
}

.card-grid-space:nth-child(2) .card{
  --bg-filter-opacity: 0.5;
    min-height: 320px;
  aspect-ratio: 3 / 2;
  background-image:url('https://codewithfaraz.com/img/glowing.png');
}
.card-grid-space:nth-child(3) .card{
    min-height: 320px;
  aspect-ratio: 3 / 2;
  --bg-filter-opacity: 0.5;
    background-image:url('https://codewithfaraz.com/img/digitalclock.png')
}
.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  min-height: 3em;
  width:100%;
  display: block;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
    min-height: 4em;
  width:100%;
  display: block;  
}


.card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
  z-index: 0;
}

.card:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

/* Foreground content */
.card-content {
  position: relative;
  z-index: 2;
  padding: 1em;
}

.card h1 {
  font-size: 1.5em;
  margin: 0;
}

.card p {
  font-size: 0.8em;
  line-height: 1.6em;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  font-size: 0.75em;
}

.tags .tag {
  background: rgba(255,255,255,0.5);
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
  font-size: 0.75em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
  z-index:1;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}